
    #Titulo{
        display: flex;
        border-radius:1px;
        background-color: lightblue;
        height: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    .Body{
        font: size 0.7em;
        
    }
    #escudo{
        width: 70%;
        margin: 10px;    
    }
 

    .section1{
        display: flex;

    }
    .section1>div{
        display: flex;
        align-items: center;
        padding-bottom:1%;
        border: 2px solid;
        flex-direction: column;
    }

    .section1>div>article{
        display: flex;
        padding-bottom:30px;
        text-align: center;
    }   
     #titulo2{
        display: flex;
        border-radius: 1px;
        background-color: lightgreen;
        height: 50px;
        align-items: center;
        justify-content: center;
    
    }
    .section2{
        display: flex;
        padding-bottom:10px;
        background-color: lightgreen;
        flex-direction: column;

    }
    
    #champions{
        width: 100%;

    }
    #liga{
        width: 100%;
    }
    #texto1{
        padding-bottom: 20px;
    }
    #enlaces {
        position: fixed;
        bottom: 0;
        left: auto;
        padding: 10px; 
        background-color: lightcoral; 
    }
    #bernabeu{
        width: 100%;
        margin-bottom: 30%;
    }
    #formulario{
        font-size: large;
    }


/*FORMULARIO*/

    #TituloF{
        display: flex;
        border-radius:1px;
        background-color: lightblue;
        height: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #formulario{
        display:flex

    }
    .formestilo {
        width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .formestilo{
        text-align: center;
        color: #333;
    }

    .formestilo input[type="text"],
    .formestilo input[type="email"],
    .formestilo textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box; /* Incluye padding y border en el ancho */
        font-size: 16px;
    }

    .formestilo textarea {
        height: 100px; /* Altura fija para el campo de texto */
    }

    .formestilo button[type="submit"] {
        width: 100%;
        padding: 10px;
     
    }


/*COPA DEL REY */
    

    #TituloC{
        display: flex;
        border-radius:50px;
        background-color: red;
        height: 100px;
        align-items: center;
        justify-content: center;
    
    }
    #escudoC{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .mosaico {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        padding-bottom: 50px;
    }
    .imagen {
        padding-top: 40px;
        width: 100%;
        height: 100%;

    }
    #ganadores{
        padding-top: 20px;
        border-radius: 20px;
        background-color: red;
        text-align: center;
        padding-bottom:20px;
        margin-bottom: 50px;
    }
    #enlacesC {
        position: fixed;
        left: auto;
        background-color: lightblue;
    }


/*LIGA DE CAMPEONES*/
    

    #Titulochamp{
        display: flex;
        border-radius:50px;
        background-color: blue;
        height: 100px;
        align-items: center;
        justify-content: center;
    
    }
    #escudochamp{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .mosaico {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        padding-bottom: 50px;
    }
    .imagen {
        padding-top: 40px;
        width: 100%;
        height: 100%;

    }
    #ganadoreschamp{
        padding-top: 20px;
        border-radius: 20px;
        background-color: blue;
        text-align: center;
        padding-bottom:20px;
        margin-bottom: 50px;
    }
    #enlacesC {
        position: fixed;
        bottom: 0;
        left: auto;
        padding: 10px; 
        background-color: lightblue; 
    }



/*LIGA NACIONAL*/


    #TituloS{
        display: flex;
        border-radius:50px;
        background-color: orange;
        height: 100px;
        align-items: center;
        justify-content: center;
    
    }
    #escudoS{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    .mosaico {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        padding-bottom: 50px;
    }
    .imagen {
        padding-top: 40px;
        width: 100%;
        height: 100%;

    }
    #ganadoresS{
        padding-top: 20px;
        border-radius: 20px;
        background-color: orange;
        text-align: center;
        padding-bottom:20px;
        margin-bottom: 50px;
    }
    #enlacesC {
        position: fixed;
        bottom: 0;
        left: auto;
        padding: 10px; 
        background-color: lightblue; 
    }

@media (max-width:250px){
        #TituloC{
            display: flex;
            border-radius:50px;
            background-color: red;
            height: 100px;
            align-items: center;
            justify-content: center;
            font-size:90%;
        }

        }
@media (max-width:320px){
            #Titulochamp{
                display: flex;
                border-radius:50px;
                background-color: blue;
                height: 100px;
                align-items: center;
                justify-content: center;
                font-size: 65%;
            }
    
}
@media (max-width:320px){
    #TituloS{
        display: flex;
        border-radius:50px;
        background-color: orange;
        height: 100px;
        align-items: center;
        justify-content: center;
        font-size: 65%;
    }

}

@media (max-width:320px){
    #formulario{
        font-size: small;
    }
    #bernabeu{
        margin-bottom: 60%;
    }

}




